@font-face {
  font-family: 'RotisSemiSansStdMono';
  src:  url('RotisSemiSansStdMono-Regular.woff2') format('woff2'),
        url('RotisSemiSansStdMono-Regular.woff') format('woff');
}

body
{
   background-color:#000
}

#mainDiv
{
  width:720px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:center;
}

#outputDiv
{
  width:480px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  padding:4px;
}

#outputTextElement 
{ 
  text-align:left; 
  font-size:42px; 
  font-family:RotisSemiSansStdMono;
   color:#FFF
}

.outputText
{ 
  text-align:left; 
  font-size:42px; 
  font-family:RotisSemiSansStdMono;
   color:#FFF;
}

.highlight
{
  color:#FF0;
}

#controlButtons
{
  margin: 0px auto 0px auto;
  text-align:center;
}

.controlButton
{
  margin: 0px 6px 0px 6px;
  text-align:center; 
  font-size:32px; 
}

#inputTextArea
{
  display: none;
}