<style>
body
{
  background-color:#FFFFFF; /* Uncomment for black text on white background */
  /* background-color:#202020; /* Uncomment for white text on black background */
}

#mainDiv
{
  width:720px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:center;
}

#outputDiv
{
  width:480px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  padding:4px;
}

#outputTextElement 
{ 
  text-align:left; 
  font-size:42px; 
  font-family:monospace;
  color:#000000; /* Uncomment for black text on white background */
  /* color:white; /* Uncomment for white text on black background */
}

.outputText
{ 
  text-align:left; 
  font-size:42px; 
  font-family:monospace;
  color:#000000; /* Uncomment for black text on white background */
  /* color:white; /* Uncomment for white text on black background */
}

.highlight
{
  color:#ff3030;
}

#progressBarBaseDiv
{
  width:600px;
  height:3px;
  margin-left:auto;
  margin-right:auto;
  background-color:#606060;
}

#progressBarDiv
{
  width:0px;
  height:3px;
  background-color:#a0a0a0;
}

#controlButtons
{
  margin: 0px auto 0px auto;
  text-align:center;
}

.controlButton
{
  margin: 0px 6px 0px 6px;
  text-align:center; 
  font-size:32px; 
  font-family:monospace;
}

textarea
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

.UIText
{
  color:#000000;
}

.UIInput
{
  background-color:#e0e0e0;
}

.UIInputReadOnly
{
  background-color:#b0b0b0;
}
</style>